@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="container">
    <input type="text" id="message" />
    <input type="button" id="sendmessage" value="Send" />
    <input type="hidden" id="displayname" />
    <ul id="discussion"></ul>
</div>
@section scripts {
    <script type="text/javascript" src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
    <script type="text/javascript" src="~/signalr/hubs"></script>
    <script type="text/javascript">
        $(function () {

            var chat = $.connection.serviceHub;

            chat.client.SendAllMessage = function (name, message) {
                $('#discussion').append('<li><strong>' + htmlEncode(name)  + '</strong>: ' + htmlEncode(message) + '</li>');
            };

            chat.client.HelloSelf = function (message) {
                $('#discussion').append('<li>' + htmlEncode(message) + '</li>');
            };

            chat.client.HelloEveryOne = function (message) {
                $('#discussion').append('<li>' + htmlEncode(message) + '</li>');
            };

            $('#displayname').val(prompt('Enter your name:', ''));
            $('#message').focus();

            $.connection.hub.start().done(function () {

                chat.server.onConnection($('#displayname').val());

                $('#sendmessage').click(function () {
                    chat.server.sendMessageToAll($('#displayname').val(), $('#message').val());
                    $('#message').val('').focus();
                });

            });

        });
        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
    </script>
}